{% extends 'base.html.twig' %}

{% block title %}Groups{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
{#        <li class="breadcrumb-item"><a href="{{ path('work') }}">Work</a></li>#}
{#        <li class="breadcrumb-item"><a href="{{ path('work.members') }}">Members</a></li>#}
        <li class="breadcrumb-item active">Groups</li>
    </ol>
{% endblock %}

{% block body %}

    {{ include('app/work/members/groups/_tabs.html.twig') }}

    <div class="controls">
        <a href="{{ path('work.members.groups.create') }}" class="btn btn-success">Add Group</a>
    </div>

    <div class="box my-2">
        <div class="card">
            <div class="card-header"><h5>Groups</h5></div>
            <div class="card-body">
                <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Members</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% set token = csrf_token('delete') %}
                {% for group in groups %}
                    <tr>
                        <td>
                            {% if group.members %}
                                <a href="{{ path('work.members', {'form': {'group': group.id}}) }}">{{ group.name }}</a>
                            {% else %}
                                {{ group.name }}
                            {% endif %}
                        </td>
                        <td>{{ group.members }}</td>
                        <td>
                            <div class="d-flex flex-row">
                                <a href="{{ path('work.members.groups.edit', {'id': group.id}) }}" class="btn btn-sm btn-primary mr-1"><span class="fa fa-pencil"></span></a>
    {#                            <form action="{{ path('work.members.groups.delete', {'id': group.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">#}
    {#                                <input type="hidden" name="token" value="{{ token }}" />#}
    {#                                <button type="submit" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></button>#}
    {#                            </form>#}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>

{% endblock %}