{% extends 'base.html.twig' %}

{% block title %}Members{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
{#        <li class="breadcrumb-item"><a href="{{ path('work') }}">Work</a></li>#}
        <li class="breadcrumb-item active">Members</li>
    </ol>
{% endblock %}

{% block body %}

    {{ include('app/work/members/_tabs.html.twig') }}

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-2">{{ form_widget(form.name) }}</div>
                <div class="col-md-2">{{ form_widget(form.email) }}</div>
                <div class="col-md-2">{{ form_widget(form.group) }}</div>
                <div class="col-md-2">{{ form_widget(form.status) }}</div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Filter</button>
                    <a href="{{ path('work.members') }}" class="btn btn-outline-secondary">Reset</a>
                </div>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

    <div class="box">
    <div class="card">
        <div class="card-header"><h5>Members</h5></div>
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Name', 'name') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Email', 'email') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Group', 'group') }}</th>
                        <th>Projects</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Status', 'status') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for member in pagination %}
                        <tr>
                            <td><a href="{{ path('work.members.show', {'id': member.id}) }}">{{ member.name }}</a></td>
        {#                    <td>{{ member.name }}</td>#}
                            <td>{{ member.email }}</td>
                            <td>{{ member.group }}</td>
        {#                    <td>{{ member.memberships_count }}</td>#}
                            <td>#</td>
                            <td>{{ member_status(member.status) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}