{% extends 'base.html.twig' %}

{% block title %}Members{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
{#        <li class="breadcrumb-item"><a href="{{ path('work') }}">Work</a></li>#}
        <li class="breadcrumb-item"><a href="{{ path('work.members') }}">Members</a></li>
        <li class="breadcrumb-item active">{{ member.name.full }}</li>
    </ol>
{% endblock %}

{% block body %}

    {{ include('app/work/members/_tabs.html.twig') }}

    <div class="controls">
        <div class="card">
            <div class="card-body">
                <a href="{{ path('work.members.edit', {'id': member.id}) }}" class="btn btn-primary">Редактировать</a>
                <a href="{{ path('work.members.move', {'id': member.id}) }}" class="btn btn-primary">Переместить</a>
                <a href="{{ path('users.show', {'id': member.id}) }}" class="btn btn-primary">Посмотреть пользователя</a>
                {% if member.active and member.id.value != app.user.id %}
                    <form action="{{ path('work.members.archive', {'id': member.id}) }}" method="post" class="mt-3" onsubmit="return confirm('Are you sure?')">
                        <input type="hidden" name="token" value="{{ csrf_token('archive') }}" />
                        <button type="submit" class="btn btn-danger">Архивировать</button>
                    </form>
                {% endif %}
                {% if member.archived %}
                    <form action="{{ path('work.members.reinstate', {'id': member.id}) }}" method="post" class="mt-3" onsubmit="return confirm('Are you sure?')">
                        <input type="hidden" name="token" value="{{ csrf_token('reinstate') }}" />
                        <button type="submit" class="btn btn-success">Разархивировать</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="box">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered table-striped mt-3">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ member.name.full }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ member.email.value }}</td>
                    </tr>
                    <tr>
                        <th>Group</th>
                        <td>{{ member.group.name }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ member_status(member.status.name) }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}