{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item active">Users</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="controls pb-3">
        <a href="{{ path('users.create') }}" class="btn btn-success">Create User</a>
    </div>

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-2">{{ form_widget(form.name) }}</div>
                <div class="col-md-2">{{ form_widget(form.email) }}</div>
                <div class="col-md-2">{{ form_widget(form.role) }}</div>
                <div class="col-md-2">{{ form_widget(form.status) }}</div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Фильтр</button>
                    <a href="{{ path('users') }}" class="btn btn-outline-secondary">Reset</a>
                </div>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

    <div class="card">
        <div class="card-header"><h5>Пользователи</h5></div>
        <div class="card-body">
            <table class="table  table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Дата', 'date') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Имя', 'name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Email', 'email') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Роль', 'role') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Статус', 'status') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in pagination %}
                    <tr>
                        <td>{{ user.date|date('d.m.Y') }}</td>
                        <td><a href="{{ path('users.show', {'id': user.id}) }}">{{ user.name }}</a></td>
                        <td>{{ user.email }}</td>
                        <td>{{ user_role(user.role) }}</td>
                        <td>{{ user_status(user.status) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(pagination,'app/pagination/mainpaginator.html.twig') }}
            </div>

        </div>
    </div>

{% endblock %}