{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('users') }}">Users</a></li>
        <li class="breadcrumb-item active">{{ user.name.full }}</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="controls mb-3">
        {% if user.id.value != app.user.id %}
{#            <a href="{{ path('users.edit', {'id': user.id}) }}" class="btn btn-primary">Edit</a>#}
{#            <a href="{{ path('users.role', {'id': user.id}) }}" class="btn btn-primary">Change Role</a>#}
        {% endif %}
        {% if user.wait %}
{#            <form action="{{ path('users.confirm', {'id': user.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">#}
{#                <input type="hidden" name="token" value="{{ csrf_token('confirm') }}" />#}
{#                <button type="submit" class="btn btn-success">Confirm</button>#}
{#            </form>#}
        {% endif %}
        {% if user.active and user.id.value != app.user.id %}
{#            <form action="{{ path('users.block', {'id': user.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">#}
{#                <input type="hidden" name="token" value="{{ csrf_token('block') }}" />#}
{#                <button type="submit" class="btn btn-danger">Block</button>#}
{#            </form>#}
        {% endif %}
        {% if user.blocked %}
{#            <form action="{{ path('users.activate', {'id': user.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">#}
{#                <input type="hidden" name="token" value="{{ csrf_token('activate') }}" />#}
{#                <button type="submit" class="btn btn-success">Activate</button>#}
{#            </form>#}
        {% endif %}
        {% if is_granted('ROLE_WORK_MANAGE_MEMBERS') %}
            {% if member %}
                <a href="{{ path('work.members.show',{'id': user.id} )}}" class="btn btn-primary">Посмотреть участника</a>
            {% else %}
                <a href="{{ path('work.members.create', {'id': user.id}) }}" class="btn btn-primary">Создать участника</a>
            {% endif %}
        {% endif %}
    </div>


    <div class="card">
        <div class="card-header">{{ user.name.full }}</div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ user.name.full }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email.value }}</td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{{ user.date|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Role</th>
                    <td>{{ user_role(user.role.name) }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ user_status(user.status) }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>



{% endblock %}