<a{% for attr, value  in options %} {{ attr }}="{{ value }}"{% endfor %} style="color: #f5f5f5;">
    <span>
        {% if sorted %}
            {% if direction == 'desc' %}
                <i class="fa fa-sort-alpha-asc"></i>
            {% else %}
                <i class="fa fa-sort-alpha-desc"></i>
            {% endif %}
        {% else %}
            <i class="fa fa-sort" style="color: #d2d6de;"></i>
        {% endif %}
    </span>
{{ title|raw }}
</a>
