@import "variables";
@import "~@coreui/coreui/scss/coreui";
@import "~simple-line-icons/scss/simple-line-icons";
@import "~font-awesome/scss/font-awesome";

//@import "~bootstrap/scss/bootstrap";

main {
  & > .container{
    padding: 80px 15px 0;
  }
}
.main{
  .container-fluid{
    padding: 0 20px;
  }
}

.footer{
  background-color: #f5f5f5;
  & > .container{
    padding-right: 15px; padding-left: 15px;
  }
}