{% extends 'base.html.twig' %}
{% block title %}Admin | Доска{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Доска</li>
    </ol>
{% endblock %}
{% block body %}
<h1>Доска виджетов</h1>
{% endblock %}